/*******************************************************************************
 * (C) Copyright IBM Corporation  2011, 2015
 * All Rights Reserved
 *******************************************************************************/

body, html { font-family:helvetica,arial,sans-serif; font-size:90%; width: 100%; height: 100%; margin: 0; }

.movable { cursor: pointer; }

.smallIndent { text-indent: 0px; padding-left: 15px ;}

.webapi { text-indent: 0px; }

text.propName {
	color:black;
	font-weight:bold;
}

text.valStr {
	color:blue;
	white-space: pre-wrap;
}

text.valNum { color:green; }

text.valBool { color:green; }

text.valNull { color:red; }

div.collapser {
  position: absolute;
  cursor: pointer;
  -moz-user-select: none;
}

ul.schema-collapsible {
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}

ul.json-collapsible {
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}

div.json {
  font-family: monospace;
  font-size: 1.1em;
  white-space: pre-wrap;
}

.link {
  stroke: #ccc;
}

.linkText {
  pointer-events: none;
  font: 10px sans-serif;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}




/*New style */

table.ce_plain {
 border-collapse: collapse;
}

thead.ce_plain,
tbody.ce_plain,
tr.ce_plain,
td.ce_plain,
th.ce_plain {
 text-align: left;
 border: 1px solid #000;
}

td.selected {
 background-color: lightgreen;
},

thead.ce_clear,
tbody.ce_clear,
tr.ce_clear,
td.ce_clear,
th.ce_clear {
 text-align: left;
}

canvas {
	background-color: beige;
	border: 1px solid black;
}
